# Building Data

In [77]:
import pandas as pd
import numpy as np

In [28]:
boston_bldg_all = pd.read_csv('data/boston_building_inventory.csv')
boston_bldg_all.head()

/Users/Quentin/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,40,44,47,51,53) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,pid_long,cm_id,building_typology,building_subtypology,use_class,sqft_class,year_built_class,st_num,st_name,...,insulate_exposed_ducts,insulate_exposed_pipes,interior_wall_insulation_blow_in,exterior_wall_insulation_at_replacement,exterior_wall_insulation,interior_wall_insulation_board,insulate_spandrel,asbestos,seal_elevator_vent_shafts,env_recommendation_count
0,88905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,f,f,f,f,f,f,f,f,f,0
1,51137,1600083000,NaN,Single-Family,"Single-Family, 1915-1949",Residential,"< 25,000 sqft",1915-1949,5,EVERETT,...,f,t,f,f,t,t,f,f,f,4
2,18045,202560000,NaN,Single-Family,"Single-Family, Pre-1915",Residential,"< 25,000 sqft",Pre-1915,43,ESSEX,...,f,t,f,f,f,t,f,f,f,3
3,94001,2200577000,NaN,Convention/Assembly,"Convention/Assembly, 1950-1979",Public & Quasi-Public,"< 25,000 sqft",1950-1979,525,WESTERN,...,f,f,f,f,f,f,f,f,f,0
4,92940,1600058000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,f,f,f,f,f,f,f,f,f,0

In [32]:
boston_bldg = boston_bldg_all[['id', 'building_typology', 'use_class', 'year_built_class', 'st_name', 'st_name_suf', 'ptype', 'lu', 'ct_perc_children_under_5', 'ct_perc_over_65', 'ct_perc_income_200000_or_more', 'ct_perc_low_to_no_income']]
boston_bldg

,id,building_typology,use_class,year_built_class,st_name,st_name_suf,ptype,lu,ct_perc_children_under_5,ct_perc_over_65,ct_perc_income_200000_or_more,ct_perc_low_to_no_income
0,88905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51137,Single-Family,Residential,1915-1949,EVERETT,ST,101.0,R1,20.926988,9.145869,4.186655,37.219036
2,18045,Single-Family,Residential,Pre-1915,ESSEX,ST,101.0,R1,21.730217,16.892169,18.404908,19.762198
3,94001,Convention/Assembly,Public & Quasi-Public,1950-1979,WESTERN,AV,941.0,E,NaN,NaN,NaN,NaN
4,92940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.926988,9.145869,4.186655,37.219036
...,...,...,...,...,...,...,...,...,...,...,...,...
98925,66236,Multi-Family (2 units),Residential,1980-present,NaN,NaN,102.0,CD,10.828648,14.910780,4.820694,38.572476
98926,68980,Single-Family,Residential,1980-present,AVALON,RD,101.0,R1,19.217745,17.660007,10.875706,6.417203
98927,95554,Single-Family,Residential,1980-present,GERRISH,ST,101.0,R1,10.218978,13.029197,10.531221,13.832117
98928,58753,Multi-Family (2 units),Residential,1980-present,NaN,NaN,102.0,CD,21.818650,6.671819,23.878365,19.732097
98929,6205,Single-Family,Residential,NaN,PERKINS,ST,101.0,R1,12.867327,7.007477,16.701828,19.961746

In [54]:
boston_bldg['st_name'] = boston_bldg['st_name'].str.strip()
boston_bldg['st_name_suf'] = boston_bldg['st_name_suf'].str.strip()
boston_bldg['st_loc'] = boston_bldg['st_name'] + ' ' + boston_bldg['st_name_suf']
boston_bldg.dropna(subset=['st_loc'], inplace=True)
boston_bldg.head()

/var/folders/vz/rdt2gv7d2mqft7p3lsdk5hz40000gn/T/ipykernel_23320/1542254690.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  boston_bldg['st_name'] = boston_bldg['st_name'].str.strip()
/var/folders/vz/rdt2gv7d2mqft7p3lsdk5hz40000gn/T/ipykernel_23320/1542254690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  boston_bldg['st_name_suf'] = boston_bldg['st_name_suf'].str.strip()
/var/folders/vz/rdt2gv7d2mqft7p3lsdk5hz40000gn/T/ipykernel_23320/1542254690.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  boston_bldg['st_loc'] = boston_bldg['st_name'] + ' ' + boston_bldg['st_name_suf']
/Users/Quentin/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,id,building_typology,use_class,year_built_class,st_name,st_name_suf,ptype,lu,ct_perc_children_under_5,ct_perc_over_65,ct_perc_income_200000_or_more,ct_perc_low_to_no_income,st_loc
1,51137,Single-Family,Residential,1915-1949,EVERETT,ST,101.0,R1,20.926988,9.145869,4.186655,37.219036,EVERETT ST
2,18045,Single-Family,Residential,Pre-1915,ESSEX,ST,101.0,R1,21.730217,16.892169,18.404908,19.762198,ESSEX ST
3,94001,Convention/Assembly,Public & Quasi-Public,1950-1979,WESTERN,AV,941.0,E,NaN,NaN,NaN,NaN,WESTERN AV
5,29815,Vacant,Vacant,NaN,SEARLE,RD,132.0,RL,22.720072,15.614392,24.619565,4.254356,SEARLE RD
6,75767,Vacant,Vacant,NaN,HYDE PARK,AV,390.0,CL,24.054422,10.503401,5.499276,19.619048,HYDE PARK AV

In [56]:
boston_bldg.to_csv('prep_data/boston_bldg_st.csv', encoding='utf-8', index=False)

In [60]:
# group by use_class
boston_bldg_by_use_class = boston_bldg.groupby(['st_loc', 'use_class']).size()
boston_bldg_by_use_class.to_csv('prep_data/boston_bldg_by_use_class.csv', encoding='utf-8')
boston_bldg_by_use_class

st_loc      use_class
A ST        Commercial                 10
            Industrial                  1
            Public & Quasi-Public       2
            Residential (Mixed-Use)     3
            Vacant                     16
                                       ..
ZAMORA ST   Vacant                      2
ZEIGLER ST  Commercial                  1
            Residential                 2
            Vacant                      2
ZELLER ST   Residential                25
Length: 8438, dtype: int64

In [61]:
# group by building_typology
boston_bldg_by_building_typology = boston_bldg.groupby(['st_loc', 'building_typology']).size()
boston_bldg_by_building_typology.to_csv('prep_data/boston_bldg_by_building_typology.csv', encoding='utf-8')
boston_bldg_by_building_typology

st_loc      building_typology
A ST        Garage                      4
            Medical/Lab/Production      1
            Office                      2
            Residential (Mixed-Use)     3
            Restaurant                  1
                                       ..
ZEIGLER ST  Multi-Family (3 units)      1
            Retail                      1
            Vacant                      2
ZELLER ST   Multi-Family (2 units)      5
            Single-Family              20
Length: 13348, dtype: int64

In [69]:
# group by ptype
boston_bldg_by_ptype = boston_bldg.groupby(['st_loc', 'ptype']).size()
boston_bldg_by_ptype.to_csv('prep_data/boston_bldg_by_ptype.csv', encoding='utf-8')
boston_bldg_by_ptype

st_loc      ptype
A ST        13.0      1
            25.0      2
            317.0     3
            326.0     1
            332.0     1
                     ..
ZEIGLER ST  132.0     1
            319.0     1
            390.0     1
ZELLER ST   101.0    20
            104.0     5
Length: 18241, dtype: int64

In [62]:
# group by children_under_5
boston_bldg_by_children_under_5 = boston_bldg[['st_loc', 'ct_perc_children_under_5']].groupby(['st_loc']).agg(['mean'])
boston_bldg_by_children_under_5.to_csv('prep_data/boston_bldg_by_children_under_5.csv', encoding='utf-8')
boston_bldg_by_children_under_5

              ct_perc_children_under_5
                                  mean
st_loc
A ST                          7.760494
ABBOT ST                     32.859579
ABBOTSFORD ST                22.600321
ABBY RD                       9.167842
ABERDEEN ST                   0.409707
...                                ...
YUILL CI                     17.664093
ZAMORA CT                     8.589871
ZAMORA ST                     8.589871
ZEIGLER ST                   29.704797
ZELLER ST                    15.205830

[4075 rows x 1 columns]

In [63]:
# group by over_65
boston_bldg_by_over_65 = boston_bldg[['st_loc', 'ct_perc_over_65']].groupby(['st_loc']).agg(['mean'])
boston_bldg_by_over_65.to_csv('prep_data/boston_bldg_by_over_65.csv', encoding='utf-8')
boston_bldg_by_over_65

              ct_perc_over_65
                         mean
st_loc
A ST                 6.758466
ABBOT ST             5.760849
ABBOTSFORD ST       10.016051
ABBY RD              9.144335
ABERDEEN ST          1.134573
...                       ...
YUILL CI             6.322394
ZAMORA CT           11.866931
ZAMORA ST           11.866931
ZEIGLER ST          11.070111
ZELLER ST           19.440615

[4075 rows x 1 columns]

In [64]:
# group by low_income
boston_bldg_by_low_income = boston_bldg[['st_loc', 'ct_perc_low_to_no_income']].groupby(['st_loc']).agg(['mean'])
boston_bldg_by_low_income.to_csv('prep_data/boston_bldg_by_low_income.csv', encoding='utf-8')
boston_bldg_by_low_income

              ct_perc_low_to_no_income
                                  mean
st_loc
A ST                         17.455992
ABBOT ST                     44.836081
ABBOTSFORD ST                35.345104
ABBY RD                      17.207334
ABERDEEN ST                  28.206744
...                                ...
YUILL CI                      7.722008
ZAMORA CT                    20.357498
ZAMORA ST                    20.357498
ZEIGLER ST                   56.826568
ZELLER ST                    13.295253

[4075 rows x 1 columns]

In [65]:
# group by high_income
boston_bldg_by_high_income = boston_bldg[['st_loc', 'ct_perc_income_200000_or_more']].groupby(['st_loc']).agg(['mean'])
boston_bldg_by_high_income.to_csv('prep_data/boston_bldg_by_high_income.csv', encoding='utf-8')
boston_bldg_by_high_income

              ct_perc_income_200000_or_more
                                       mean
st_loc
A ST                              24.717626
ABBOT ST                           0.618459
ABBOTSFORD ST                      1.061571
ABBY RD                            7.173252
ABERDEEN ST                        5.869565
...                                     ...
YUILL CI                           9.868421
ZAMORA CT                          9.558824
ZAMORA ST                          9.558824
ZEIGLER ST                         1.063830
ZELLER ST                         11.955056

[4075 rows x 1 columns]

In [66]:
# extract specific category
inventory_code = pd.read_csv('data/boston_building_inventory_code.csv')
inventory_code

,Use Code,Use Code Category,Use Code Description,Use Class
0,10,Multiple Use Property,Condo Multi-Use,Residential (Mixed-Use)
1,12,Multiple Use Property,Vacant Land,NaN
2,13,Multiple Use Property,Res/Commercial Use,Residential (Mixed-Use)
3,19,Multiple Use Property,Res/Exempt Use,Residential (Mixed-Use)
4,25,Multiple Use Property,Res/Comm Mixed Use,Residential (Mixed-Use)
...,...,...,...,...
350,A,Average,NaN,NaN
351,E,Excellent,NaN,NaN
352,F,Fair,NaN,NaN
353,G,Good,NaN,NaN
354,P,Poor,NaN,NaN

In [72]:
inventory_code = inventory_code[inventory_code.index < 249]
inventory_code

,Use Code,Use Code Category,Use Code Description,Use Class
0,10,Multiple Use Property,Condo Multi-Use,Residential (Mixed-Use)
1,12,Multiple Use Property,Vacant Land,NaN
2,13,Multiple Use Property,Res/Commercial Use,Residential (Mixed-Use)
3,19,Multiple Use Property,Res/Exempt Use,Residential (Mixed-Use)
4,25,Multiple Use Property,Res/Comm Mixed Use,Residential (Mixed-Use)
...,...,...,...,...
244,991,Exempt Property Type,Office Condo,Commercial
245,992,Exempt Property Type,Residential Condo,Residential
246,993,Exempt Property Type,Industrial Condo,Industrial
247,995,Exempt Property Type,Condo Main,NaN
248,999,Exempt Property Type,Partial Exempt Entity,Public & Quasi-Public

In [79]:
shopping = ['321', '322', '323', '324', '325'] # Shopping Center, Supermarket, Retail Store
gas_station = ['333'] # Gas Station
club = ['329', '361'] # Bar/Tavern/Pub, Night Club
education = ['378', '904', '976', '977'] # School, College, Pri School / College
hospital = ['305', '309', '979'] # Hospital, Medical Clinic

parking_area = list(inventory_code[inventory_code['Use Code Description'].str.contains('Parking')]['Use Code'])
parking_area

['108', '116', '119', '336', '337', '339', '359', '387', '961', '962']

In [80]:
# All kinds of parking area
inventory_code[inventory_code['Use Code Description'].str.contains('Parking')]

    Use Code     Use Code Category Use Code Description              Use Class
15       108  Residential Property        Condo Parking            Residential
23       116    Apartment Property   Res Parking Garage            Residential
26       119    Apartment Property      Res Parking Lot            Residential
77       336   Commercial Property       Parking Garage             Commercial
78       337   Commercial Property          Parking Lot             Commercial
80       339   Commercial Property       Parking Garage             Commercial
99       359   Commercial Property        Condo Parking             Commercial
127      387   Commercial Property      Pay Parking Lot             Commercial
215      961  Exempt Property Type       Parking Garage  Public & Quasi-Public
216      962  Exempt Property Type          Parking Lot  Public & Quasi-Public

In [96]:
boston_bldg_category = boston_bldg.copy()
boston_bldg_category = boston_bldg_category.astype({'ptype': int}).astype({'ptype': str})

def get_category(x):
    if x in shopping:
        return 'shopping'
    elif x in gas_station:
        return 'gas station'
    elif x in club:
        return 'club'
    elif x in education:
        return 'education'
    elif x in hospital:
        return 'hospital'
    elif x in parking_area:
        return 'parking area'

boston_bldg_category['category'] = boston_bldg_category.apply(lambda x: get_category(x.ptype), axis=1)
boston_bldg_category

,id,building_typology,use_class,year_built_class,st_name,st_name_suf,ptype,lu,ct_perc_children_under_5,ct_perc_over_65,ct_perc_income_200000_or_more,ct_perc_low_to_no_income,st_loc,category
1,51137,Single-Family,Residential,1915-1949,EVERETT,ST,101,R1,20.926988,9.145869,4.186655,37.219036,EVERETT ST,None
2,18045,Single-Family,Residential,Pre-1915,ESSEX,ST,101,R1,21.730217,16.892169,18.404908,19.762198,ESSEX ST,None
3,94001,Convention/Assembly,Public & Quasi-Public,1950-1979,WESTERN,AV,941,E,NaN,NaN,NaN,NaN,WESTERN AV,None
5,29815,Vacant,Vacant,NaN,SEARLE,RD,132,RL,22.720072,15.614392,24.619565,4.254356,SEARLE RD,None
6,75767,Vacant,Vacant,NaN,HYDE PARK,AV,390,CL,24.054422,10.503401,5.499276,19.619048,HYDE PARK AV,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98922,31503,Single-Family,Residential,1980-present,GLENELLEN,RD,101,R1,15.441018,17.597585,12.048193,8.194954,GLENELLEN RD,None
98924,51491,Single-Family,Residential,1980-present,TAYLOR,TE,101,R1,23.207269,11.738703,6.573070,32.293713,TAYLOR TE,None
98926,68980,Single-Family,Residential,1980-present,AVALON,RD,101,R1,19.217745,17.660007,10.875706,6.417203,AVALON RD,None
98927,95554,Single-Family,Residential,1980-present,GERRISH,ST,101,R1,10.218978,13.029197,10.531221,13.832117,GERRISH ST,None
98929,6205,Single-Family,Residential,NaN,PERKINS,ST,101,R1,12.867327,7.007477,16.701828,19.961746,PERKINS ST,None

In [97]:
set(boston_bldg_category.category)

{None,
 'club',
 'education',
 'gas station',
 'hospital',
 'parking area',
 'shopping'}

In [98]:
boston_bldg_category.dropna(subset=['category'], inplace=True)
boston_bldg_category

,id,building_typology,use_class,year_built_class,st_name,st_name_suf,ptype,lu,ct_perc_children_under_5,ct_perc_over_65,ct_perc_income_200000_or_more,ct_perc_low_to_no_income,st_loc,category
42,79096,Garage,Commercial,NaN,BARBARA,ST,337,CL,12.867327,7.007477,16.701828,19.961746,BARBARA ST,parking area
57,28345,Garage,Commercial,NaN,CHELSEA,ST,337,CL,19.693606,4.240675,4.739336,27.264654,CHELSEA ST,parking area
83,51081,Garage,Commercial,NaN,SPICE,ST,337,CL,13.338789,13.011457,26.015681,15.834697,SPICE ST,parking area
85,96948,Garage,Commercial,NaN,WASHINGTON,ST,337,CL,16.603664,8.897935,6.508549,35.504507,WASHINGTON ST,parking area
86,41481,Garage,Commercial,NaN,DUDLEY,ST,337,CL,30.579216,7.580920,2.251656,36.797274,DUDLEY ST,parking area
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98861,36500,Medical/Lab/Production,Public & Quasi-Public,NaN,N ANDERSON,ST,979,E,3.163618,22.194760,21.120363,22.540781,N ANDERSON ST,hospital
98870,10398,Garage,Commercial,NaN,S HUNTINGTON,AV,337,CL,12.867327,7.007477,16.701828,19.961746,S HUNTINGTON AV,parking area
98876,23699,Convention/Assembly,Public & Quasi-Public,NaN,BAY STATE,RD,977,E,0.744145,0.350186,7.660455,8.579558,BAY STATE RD,education
98877,15803,Convention/Assembly,Public & Quasi-Public,Pre-1915,BAY STATE,RD,977,E,0.744145,0.350186,7.660455,8.579558,BAY STATE RD,education
98894,20012,Medical/Lab/Production,Public & Quasi-Public,NaN,LONGWOOD,AV,979,E,12.331288,11.370143,2.188082,55.582822,LONGWOOD AV,hospital

In [99]:
boston_bldg_category.to_csv('prep_data/boston_bldg_category.csv', encoding='utf-8', index=False)